- var path = '../'
- var nav = '.aboutus'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body     
    include ../includes/layout/content
      .navbar-wrapper
        include ../includes/layout/navbar

      #myCarousel.carousel.small.slide
        .carousel-inner
          .item.active
            img(src='#{path}public/img/carousel/laptop-small.jpg', alt='')
            .container
              .carousel-caption
                h1 Über uns...

      .container
        .container-padding
          a(name="inweso")
          .featurette
            img.featurette-image.pull-right(src='#{path}public/img/features/world.jpg')
            h2.featurette-heading
              | inweso
              small  Lösungen aus einer Hand
            p.lead Als GmbH starten wir 2012 mit inweso, welche sich zum Ziel gesetzt hat, modernste Software Lösungen zu entwickeln und zu vertreiben.

            p.lead Angefangen mit lebdo und begeistert von den Technologien wie node.js, HTML5 und JavaScript entwickelt inweso heute noch eigene Produkte.
          hr.featurette-divider
          a(name="contact")
          .featurette
            img.featurette-image.pull-left(src='#{path}public/img/features/help.jpg')
            h2.featurette-heading
              | Kontakieren Sie uns
            p.lead
              | Sie sollten uns kontaktieren, wenn...
            ul.unstyled
              li ... Sie einen Prozess für Sich oder Ihre Kunden automatisieren wollen.
              li ... Sie eine bestehende Software durch eine webbasierte ersetzen wollen.
              li ... Sie ein webbasiertes Werkzeug brauchen.

            p
              strong inweso GmbH
              br
              | Seuzachstrasse 8
              br
              | CH - 8413 Neftenbach
              br
              a(href='mailto:info@inweso.ch', style='line-height: 30px;')
                i.icon-envelope
                |  info@inweso.ch
          //- hr.featurette-divider
          //- .featurette
          //-   img.featurette-image.pull-right(src='public/img/examples/browser-icon-safari.png')
          //-   h2.featurette-heading
          //-     | And lastly, this one.
          //-     span.muted Checkmate.
          //-   p.lead
          //-     | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          //- hr.featurette-divider

    include ../includes/layout/footer
          
    include ../includes/layout/endscripts

    //- script(type='text/javascript')
    //-   !function ($) {
    //-       $(function(){
    //-         // carousel demo
    //-         $('#myCarousel').carousel()
    //-       })
    //-     }(window.jQuery)