- var path = '../'
- var nav = '.more'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body     
    include ../includes/layout/content
      .navbar-wrapper
        include ../includes/layout/navbar

      #myCarousel.carousel.small.slide
        .carousel-inner
          .item.active
            img(src='#{path}public/img/carousel/kiga-small.jpg', alt='')
            .container
              .carousel-caption
                h1 lebdo...

      .container
        .container-padding
          a(name="lebdo")
          .featurette
            img.featurette-image.pull-right(src='#{path}public/img/features/lebdo/group_rating.jpg', style="margin-top: 18px;")
            h2.featurette-heading
              | lebdo.ch
              br
              small  Die Lösungen für Kindergärten, Grund- und Basisstufen
            p.lead lebdo ist die Anwendung um Beobachtungen auf Stufe Kindergarten (auch für Grund- und Basisstufe), entsprechend den kantonal definierten Lehrplänen, zu dokumentieren und auszuwerten.

            p
              a.btn.btn-large.btn-warning(href='http://www.youtube.com/watch?v=nibEBiDw4QI') 
                i.icon-film
                |  Video
              &nbsp;
              a.btn.btn-large.btn-primary(href='#{path}pages/lebdo.html') 
                i.icon-arrow-right
                | lebdo.ch

          .featurette
            img.featurette-image.pull-left(src='#{path}public/img/features/lebdo/child_chart.jpg', style="margin-top: 5px;")
            p.lead lebdo ist gezielt einfach gehalten um eine effiziente Erfassung von erreichten Lernzielen und Beobachtungen zu ermöglichen. Eine für die Auswertung optimierte Visualisierung ermöglicht die Beurteilung von Erfüllungsgrad und hilft Schwächen einzelner Kinder oder auch einer ganzen Gruppe aufzudecken.
          
          p(style="margin-top: 45px;") Im 2012 wurde lebdo in einer Zusammenarbeit von Lehrpersonen und inweso entwickelt.

          p Sowohl bei der Einführung des Lehrplans für die Kindergartenstufe im Kanton Zürich wie auch bei dessen Begutachtung durch die Kapitel der Lehrpersonenkonferenz der Volksschule wurde der Bedarf nach einem solchen Instrument durch die Lehrpersonen zum Ausdruck gebracht.

          p Christine Landis, Kindergärtnerin in Wädenswil, hat ihre eigenen Wünsche und diejenigen von Kolleginnen und Kollegen mit inweso besprochen. Daraus entstand eine Zusammenarbeit, deren Produkt lebdo ist.

          p Weiterentwicklung, Vertrieb und Kundenbetreuung hat nun inweso übernommen.
          //- hr.featurette-divider
          

    include ../includes/layout/footer
          
    include ../includes/layout/endscripts

    //- script(type='text/javascript')
    //-   !function ($) {
    //-       $(function(){
    //-         // carousel demo
    //-         $('#myCarousel').carousel()
    //-       })
    //     }(window.jQuery)