- var path = '../'
- var nav = '.more'
doctype html
html(lang="en")
  head
    include ../includes/layout/head

  body     
    include ../includes/layout/content
      .navbar-wrapper
        include ../includes/layout/navbar

      #myCarousel.carousel.small.slide
        .carousel-inner
          .item.active
            img(src='#{path}public/img/carousel/idea-small.jpg', alt='')
            .container
              .carousel-caption
                h1 Ihre Idee - unsere Lösung...

      .container
        .container-padding
          a(name="inweso")
          .featurette
            img.featurette-image.pull-right(src='#{path}public/img/features/sketch.jpg')
            h2.featurette-heading
              | Lösungen 
              small im Vordergrund
            p.lead Bei uns steht die Lösung und der Weg zum fertigen Produkt im Zentrum.

            p 
              | Wir bieten Ihnen Lösungen, welche auf Sie und Ihre Kunden individuell zugeschnitten wurden. 
              | Ihre neue Anwendung wird sich daher wie ein passgenauer Massanzug anfühlen.

            p Gerne beraten wir Sie in allen Phasen Ihres Projektes - von der ersten Konzept bis zum fertigen Produkt.

          .featurette
            img.featurette-image.pull-left(src='#{path}public/img/features/modular.jpg')
            h2.featurette-heading
              | Kompetenzen
            p.lead Bei inweso vereinen Sich alle Kompetenzen, welche für einen erfolgreichen Projektabschluss benötigt werden.

            p 
              | Zögern Sie nicht und profitieren Sie von unseren Erfahrungen:
              ul
                li Entwicklung von Web- / Mobileanwendungen
                li Anforderungsmanagement und Benutzerzentriertes Design
                li Verteilte Echtzeitanwendungen
                li Schulung und Beratung (node.js, html5, Javasript)

          
          //-hr.featurette-divider

          //- hr.featurette-divider
          //- .featurette
          //-   img.featurette-image.pull-right(src='public/img/examples/browser-icon-safari.png')
          //-   h2.featurette-heading
          //-     | And lastly, this one.
          //-     span.muted Checkmate.
          //-   p.lead
          //-     | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          //- hr.featurette-divider

    include ../includes/layout/footer
          
    include ../includes/layout/endscripts

    //- script(type='text/javascript')
    //-   !function ($) {
    //-       $(function(){
    //-         // carousel demo
    //-         $('#myCarousel').carousel()
    //-       })
    //-     }(window.jQuery)