- var path = ''
!!! 5
html(lang="en")
  head
    include includes/layout/head

  body
    include includes/layout/header

    include includes/layout/nav
          
    include includes/layout/content
      .page-index.row-fluid
        .span12
          .welcome
            i.icon-cloud
              img.logo(src='#{path}public/img/inweso.png')
          
    include includes/layout/endscripts