- var path = ''
!!! 5
html(lang="en")
  head
    include includes/layout/head

  body
    include includes/layout/header

    include includes/layout/nav
          
    include includes/layout/content
      .row-fluid
        .span12
          .heading
            h2 ...wir lieben unseren Job

          .row-fluid
            .span6
              p Als GmbH....

            .span6
              p usw....
          
    include includes/layout/endscripts