.nav
  .nav-inner
    .container
      p Unser 
        a(href='#{path}pages/org.html') Unternehmen
        |  verwendet modernste Technologien wie 
        a(href='http://nodejs.org/', target='_blank') node.js
        | , 
        a(href='http://html5.org/', target='_blank') HTML5
        |  und 
        a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
        |  um für unsere Kunden webbasierte Systeme zu kreieren.

      p Entdecken Sie beispielsweise unser eigenes Produkt 
        a(href='#{path}pages/lebdo.html') lebdo
        |  oder 
        a(href='#{path}pages/contact.html') kontaktieren
        |  Sie uns.