.main
  .heading
    color: #08C
    padding: 0 0 20px
    text-transform: uppercase


.page-index
  .welcome
    i
      position: relative
      font-size: 600px
      line-height: 500px
      color: white
      text-align: center
      display: block
      text-shadow: 2px 2px black
      z-index: -2

      @media (max-width: 1200px)
        font-size: 600px
        line-height: 500px

      @media (max-width: 979px) 
        font-size: 600px
        line-height: 500px

      @media (max-width: 767px)
        font-size: 350px
        line-height: 280px

      @media (max-width: 480px) 
        font-size: 200px
        line-height: 180px

    .logo
      position: absolute
      top: 250px
      left: 400px
      height: 150px

      @media (max-width: 1200px)
        left: 300px

      @media (max-width: 979px) 
        left: 200px

      @media (max-width: 767px)
        left: 250px
        top: 150px
        height: 100px

      @media (max-width: 480px) 
        left: 160px
        top: 90px
        height: 60px