- var path = '../'
//- - var title = 'inweso'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body
    include ../includes/layout/header

    include ../includes/layout/nav
          
    include ../includes/layout/content
      .row-fluid
        .span12
          .heading
            h2 Wir freuen uns immer über eine E-Mail

          .row-fluid
            .span6
              p Auch wenn wir nicht jederzeit persönlich erreichbar sind, werden wir uns so bald es geht bei Ihnen melden.
              p Für Erweiterungsanfragen betreffend lebdo, bitten wir Sie eine E-Mail an uns zu verfassen wobei Sie uns einen Grobrahmen über die gewünschten Funktionalitäten mitteilen. Anschliessend werden wir Sie telefonisch kontaktieren, um Ihre Bedüfnisse detailliert zu besprechen.
              p Wir freuen uns neue spannende Unternehmen kennen zu lernen!

            .span1
              p
            .span5
              address
                i(style='line-height: 25px;') Standort
                br
                strong inweso GmbH
                br
                | Seuzachstrasse 8
                br
                | CH - 8413 Neftenbach
                br
                a(href='mailto:info@inweso.ch', style='line-height: 30px;')
                  i.icon-envelope
                  |  info@inweso.ch
    
    include ../includes/layout/endscripts